useDynLib(CellEdgeR, .registration = TRUE)
importFrom(Rcpp, sourceCpp)
export(count_motifs_graphs)
export(merge_motif_objs)
export(motif_edger)
export(top_motifs)
export(build_cell_graphs)
export(make_demo_samples)
export(plot_sample_graph)
export(get_motif_values)
