useDynLib(CellEdgeR, .registration = TRUE)
importFrom(Rcpp, sourceCpp)
export(count_motifs_graphs)
export(cellmotif_edger)
export(motif_edger)
export(build_cell_graphs)
export(normalize_motif_counts)
